* {
    margin: 0;
    padding: 0;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#ff9900, #b28300);
}

.header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Brush Script MT', cursive;
    color: gold;
    font-size: 64px;
}

.etch{
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 50px;
    border-style: solid;
    border-radius: 40px;
    box-shadow: 10px 5px 20px black;
    justify-content: center;
    align-items: center;
}

.gridContainer{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px black;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.columnContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    border: 1px solid black;
    background-color: rgb(211, 208, 208);
    display: flex;
    height: 100%;
    width: 100%;
}

.knobs{
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.knob{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: rgb(230, 229, 229);
    border-style: solid;
    border-radius: 50%;
    margin: 0;
    box-shadow: 5px 5px 10px black;
    
}

.credit{
    font-family: 'Brush Script MT', cursive;
    color: gold;
    font-size: 18px;
}

.menu{
    height: 300px;
    width: 200px;
    background-color: red;
    padding: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    gap: 10px;
    border-style: solid;
    box-shadow: 10px 5px 20px black;
}

p{
    font-family: 'Brush Script MT', cursive;
    color: gold;
    font-size: 46px;
    text-align: center;
}

button{
    background-color: rgb(211, 208, 208);
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    font-weight: 700;
    font-size: 22px;
    box-shadow: inset 0 0 3px black;
}

